
html {
  background: #f2f2f2;
}

body {
  margin: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.grid {
  flex-flow: row wrap;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  list-style: none;
}

.grid > .icon {
  display: flex;
  flex: 0 0 33%;
  justify-content: center;
  transition: opacity 200ms;
}

.icon > a {
  flex: 0 1 auto;
  display: block;
  width: 128px;
  height: 128px;
  padding: 8px;
}

.icon img {
  width: 100%;
  height: 100%;
}